<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<body>
    <div class="container-lg px-3 my-5 markdown-body">
        <nav>
            <a href="{{ "/" | absolute_url }}">Home</a> |
            <a href="{{ "/dashboards" | absolute_url }}">Dashboards</a> |
            <a href="{{ "/technical-docs" | absolute_url }}">Docs Técnica</a> |
            <a href="{{ "/language-resources" | absolute_url }}">Recursos Linguísticos</a>
        </nav>
        
        {{ content }}

        {% if site.github.private != true and site.github.license %}
        <div class="footer border-top border-gray-light mt-5 pt-3 text-gray">
            Este site é mantido por <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        </div>
        {% endif %}
    </div>
</body>
</html>